<div class="sidebar-module">
    <h4>About</h4>
    <ol class="list-unstyled">
        <li><a href="https://github.com/wastegas/">My GitHub</a></li>
        <li><a href="http://twitter.com/wastegas">Follow me</a></li>
        <li><a href="https://github.com/wastegas/wastegas.github.io">Source</a></li>
    </ul>
</div>
<div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
    {% for post in site.posts %}
        <li class="posts">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

