{% include head.html %}

<div class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ page.title }}</h2>
                    <p class="blog-post-meta">{{ page.date | date_to_string }}</p>
                        {{ content }}
            </div><!--  blog-post-->
            </div><!-- col-md-8-->
            <div class="col-md-4">
                {% include right.html %}
            </div> <!-- col-md-4 -->
        </div><!-- row -->
    </div><!-- container -->
        

{%include foot.html %}
